<% content_for(:breadcrumbs) do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to "Applications", applications_path, class: "govuk-breadcrumbs__link" %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <%= @application.reference %>
      </li>
    </ol>
  </div>
<% end %>

<% content_for(:left_bar) do %>
  <span class="govuk-caption-m">
    <%= @application.reference %>
  </span>
  <h1 class="govuk-heading-m">
    <% if application_address(@application).present? %>
      <%= application_address(@application) %>
    <% else %>
      No address yet
    <% end %>
  </h1>

  <p>
    <%# TODO: attribute? %>
    Application for full planning permission (householder) 
  </p>

  <h2 class="govuk-heading-s">
    Summary of proposal
  </h2>

  <ul class="govuk-list govuk-list--bullet">
    <% if @application.proposalFlow_hash %>
      <% @application.proposalFlow_hash&.each do |proposal| %>
        <li class="govuk-list__item">
          <%= proposal["proposalName"] %>
        </li>
      <% end %>
    <% else %>
      <li class="govuk-list__item">
        Nothing so far
      </li>
    <% end %>
  </ul>

  <h2 class="govuk-heading-s">
    Property details
  </h2>

  <ul class="govuk-list govuk-list--bullet">
    <li class="govuk-list__item">
      <strong>Property type:</strong>
      <%= @application.site_address&.property_type %>
    </li>

    <li class="govuk-list__item">
      <strong>Listed building:</strong>
      <%= yes_no_na(@application.site_constraints&.listed_building?) %>
    </li>

    <li class="govuk-list__item">
      <strong>Conservation area:</strong>
      <%= yes_no_na(@application.site_constraints&.conservation_area?) %>
    </li>
  </ul>
<% end %>

<span class="govuk-caption-xl">
  <%# TODO: all "fast-track"? maybe say just "applications"? or derive from some attribute? %>
  Fast-track application
</span>
<h1 class="govuk-heading-xl">
  <%= @application.reference %>
</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#actions">
        Actions
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#documents">
        Documents
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="actions">
    <h2 class="govuk-heading-l">
      Assess proposal
    </h2>

    <ul class="govuk-list">
      <li class="govuk-list__item">
        <%= link_to "Summarise the proposal and add considerations", "#" %>
      </li>
      <li class="govuk-list__item">
        <%= link_to "Assess the impact on the neighbouring amenity", "#" %>
      </li>
      <li class="govuk-list__item">
        <%= link_to "Assess the impact on local design and heritage", "#" %>
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Make recommendation
    </h2>

    <ul class="govuk-list">
      <li>
        <%= link_to "Review assessment and submit recommendation", "#" %>
      </li>
    </ul>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="documents">
    <h2 class="govuk-heading-l">
      Documents
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Thumbnail</th>
          <th scope="col" class="govuk-table__header">Original name</th>
          <th scope="col" class="govuk-table__header">Proposed tags</th>
          <th scope="col" class="govuk-table__header">Existing tags</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @application.document_files.each do |document| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= link_to(document_path(document.id), data: {turbolinks: false}) do %>
                <%= image_tag document_thumbnail_path(document.id) %><br>
              <% end %>
            </td>

            <td class="govuk-table__cell">
              <%= link_to(document_path(document.id), data: {turbolinks: false}) do %>
                <%= document.original_name %>
              <% end %>
            </td>

            <td class="govuk-table__cell">
              <% document.document_types_existing.select(&:name).each do |type| %>
                <strong class="govuk-tag">
                  <%= type.name %>
                </strong>
              <% end %>
            </td>

            <td class="govuk-table__cell">
              <% document.document_types_proposed.select(&:name).each do |type| %>
                <strong class="govuk-tag">
                  <%= type.name %>
                </strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</div>
